.cart-no{
    position: absolute;
    min-height:25px;
    min-width:25px;
    border-radius:50%;
    font-size:iem;
    background-color:green;
    color:white;
    text-align:center;
    top:-12px;
    right:35px;
}
.cart{
    color:gray;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active {
        color:orange;
    }
}

.logo{
    cursor: pointer;
    margin:10px;

    &:focus {
        outline: none;
    }
}